@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
    background: #272727;
    color: #fff;
    font-family: "Lato";
}

section {
    padding: 100px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}
h1 {
    font-size: 69px;
}

button {
    font-family: "Lato";
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 70px;
    background-color: rgba(69, 69, 69, 0.5);
    padding: 0px 30px 0px 30px;
}
nav a {
    display: inline-flex;
}
.section-secondary {
    background-color: rgba(69, 69, 69, 0.5);
}
.underlined {
    text-decoration: #ff7b00 dashed underline;
    text-underline-offset: 15px;
}
button {
    background: transparent;
    border: none;
    border-bottom: 5px solid transparent;
    color: #fff;
    margin-left: 15px;
    padding: 0px 20px 0px 20px;
    transition: 180ms;
}
button:hover {
    background: rgba(69, 69, 69, 0.5);
    border-bottom: 5px solid #ff7b00;
}
nav img {
    align-self: center;
    margin: 0px 15px 0px 15px;
}

.important-button {
    background: #ff7b00;
    border-bottom: 5px solid #ff7b00;
    color: #000;
}
.important-button:hover {
    background: #ffa149;
    border-bottom: 5px solid #000;
}

.gallery-item {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    background-color: #fff;
    background-size: cover;
}
.caption-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px 0px 30px 0px;
}

#profile-end {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 70px;
    position: absolute;
    right: 30px;
}